.librarian_form > button{
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: #223E80;
    font-size: 1.5rem;
    font-weight: 100;
    overflow: hidden;
    padding: 0.5rem 1.5rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    background-color: transparent;
    margin: 0px 5px;
}
.librarian_form > button::after {
    background-color: #20B283;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
.librarian_form > button:hover::after {
    transform: translate(0, 0);
}
.librarian_form > button:hover {
    border: 2px solid transparent;
    color: #223E80;
    transform: scale(1.05);
    will-change: transform;
    cursor: pointer;
}
.librarian_allot_formControl{
    margin: 0px 10px !important;
}
.librarian_allot_formControl > .MuiFormLabel-root{
    font-size: 18px !important;
    font-weight: 500 !important;
}
.MuiSelect-selectMenu{
    width: 300px !important;
}
.MuiSelect-select.MuiSelect-select{
    margin-top: 10px !important;
}
/* .MuiInputBase-input {
    font-size: 20px !important;
} */

.librarianAuth{
    padding:  0 20px;
}
.librarianAuth_welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.librarianAuth_welcome > img{
    object-fit: contain;
    max-width: 200px;
    width: 100%;
}
.librarianAuth > form {
    display: flex;
    flex-direction: column;
}
.MuiFormControl-root{
    margin: 5px 0 !important;
}
.allot_form{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
books
.librarian_book_form{
    margin: 5px 0;
}
.librarian_book_form > form{
    display: flex;
    flex-direction: column;
}
.min_nav > .librarian_book_form{
    margin: 5px 0;
}
.issues{
    background-color: #BFE3ED;
    padding: 10px 20px;
}

.lib_issues{
    background-color: #ffff;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.3);
    overflow: auto;
    margin: 10px 20px;
}
a{
    text-decoration: none;
    color: white;
}
.librarian_nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffff;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.3);
    margin: 10px 20px;
}
.nav_btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.dropDownClose{
    display: none;
}
.min_nav{
    display: none;
}
.lib_issues_header > h2 {
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
}

.librarian_nav_dropdown{
    display: none;
}
.librarian_book_list > .books > .book_list{
    max-height: 450px;
    overflow-y: auto;
}

@media only screen and (max-width: 768px) {
    .dropDownClose{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
    }
    .librarian_student_create{
        margin: 5px 0;
    }
    .librarian_nav_dropdown{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: #ffff;
        align-items: center !important;
        padding: 5px 20px;
    }
    .nav_select{
        display: flex !important;
        align-items: center !important;
        width: 50px !important;
        height: 40px !important;
    }
    .nav_form{
        display: flex !important;
        align-items: center !important;
    }

    .librarian_nav{
        display: none;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .min_nav{
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFFFFF;
        padding: 5px 0;
    }
    .librarian_book_form{
        padding: 0 20px;
    }
    .allot_form{
        padding: 0 20px;
    }
    .librarian_form > button{
        margin: 5px 0;
    }
    .book_details{
        text-align: center;
        align-items: center;
    }
    .lib_issues{
        max-height: 500px;
        overflow: auto;
    }
}
@media only screen and (max-width: 480px) {
    
}